In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dfbook = pd.read_csv('books.csv')
dfbook.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [3]:
dfrating = pd.read_csv('ratings.csv')
dfrating.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [4]:
def all_features(i):
    return str(i['authors'])+' '+str(i['original_title'])+' '+str(i['title'])+' '+str(i['language_code'])
dfbook['criteria'] = dfbook.apply(all_features,axis='columns')
dfbook['criteria'][1]

"J.K. Rowling, Mary GrandPré Harry Potter and the Philosopher's Stone Harry Potter and the Sorcerer's Stone (Harry Potter, #1) eng"

In [5]:
# Count Vectorizer -------------------------------------------------
from sklearn.feature_extraction.text import CountVectorizer
model = CountVectorizer(tokenizer=lambda x:x.split(' '))
matrixFeature = model.fit_transform(dfbook['criteria'])

criteria = model.get_feature_names()

In [6]:
# Cosine Similarity -------------------------------------------------
from sklearn.metrics.pairwise import cosine_similarity
skor = cosine_similarity(matrixFeature)

In [7]:
andi_1 = dfbook[dfbook['original_title']=='The Hunger Games']['book_id'].tolist()[0]-1 
andi_2 = dfbook[dfbook['original_title']=='Catching Fire']['book_id'].tolist()[0]-1
andi_3 = dfbook[dfbook['original_title']=='Mockingjay']['book_id'].tolist()[0]-1 
andi_4 = dfbook[dfbook['original_title']=='The Hobbit or There and Back Again']['book_id'].tolist()[0]-1 
andisuka = [andi_1,andi_2,andi_3,andi_4]
andisuka

[0, 16, 19, 6]

In [8]:
budi_1 = dfbook[dfbook['original_title']=='Harry Potter and the Philosopher\'s Stone']['book_id'].tolist()[0]-1 
budi_2 = dfbook[dfbook['original_title']=='Harry Potter and the Chamber of Secrets']['book_id'].tolist()[0]-1 
budi_3 = dfbook[dfbook['original_title']=='Harry Potter and the Prisoner of Azkaban']['book_id'].tolist()[0]-1 
budisuka = [budi_1,budi_2,budi_3]
budisuka

[1, 22, 17]

In [9]:
ciko_1 = dfbook[dfbook['original_title']=='Robots and Empire']['book_id'].tolist()[0]-1 
cikosuka = [ciko_1]
cikosuka

[5781]

In [10]:
dedi_1 = dfbook[dfbook['original_title']=='Nine Parts of Desire: The Hidden World of Islamic Women']['book_id'].tolist()[0]-1 
dedi_2 = dfbook[dfbook['original_title']=='A History of God: The 4,000-Year Quest of Judaism, Christianity, and Islam']['book_id'].tolist()[0]-1 
dedi_3 = dfbook[dfbook['original_title']=='No god but God: The Origins, Evolution, and Future of Islam']['book_id'].tolist()[0]-1 
dedisuka = [dedi_1,dedi_2,dedi_3]
dedisuka

[9649, 2726, 5324]

In [11]:
ello_1 = dfbook[dfbook['original_title']=='Doctor Sleep']['book_id'].tolist()[0]-1 
ello_2 = dfbook[dfbook['original_title']=='The Story of Doctor Dolittle']['book_id'].tolist()[0]-1 
ello_3 = dfbook[dfbook['title']=="Bridget Jones\'s Diary (Bridget Jones, #1)"]['book_id'].tolist()[0]-1 
ellosuka = [ello_1,ello_2,ello_3]
ellosuka

[793, 2989, 74]

In [12]:
list_skor_andi_1 = list(enumerate(skor[andi_1]))
list_skor_andi_2 = list(enumerate(skor[andi_2]))
list_skor_andi_3 = list(enumerate(skor[andi_3]))
list_skor_andi_4 = list(enumerate(skor[andi_4]))

list_skor_budi_1 = list(enumerate(skor[budi_1]))
list_skor_budi_2 = list(enumerate(skor[budi_2]))
list_skor_budi_3 = list(enumerate(skor[budi_3]))

list_skor_ciko = list(enumerate(skor[ciko_1]))

list_skor_dedi_1 = list(enumerate(skor[dedi_1]))
list_skor_dedi_2 = list(enumerate(skor[dedi_2]))
list_skor_dedi_3 = list(enumerate(skor[dedi_3]))

list_skor_ello_1 = list(enumerate(skor[ello_1]))
list_skor_ello_2 = list(enumerate(skor[ello_2]))
list_skor_ello_3 = list(enumerate(skor[ello_3]))

In [13]:
list_skor_andi = []
for i in list_skor_andi_1:
    list_skor_andi.append((i[0],0.25*(list_skor_andi_1[i[0]][1]+list_skor_andi_2[i[0]][1]+list_skor_andi_3[i[0]][1]+list_skor_andi_4[i[0]][1])))

list_skor_budi = []
for i in list_skor_budi_1:
    list_skor_budi.append((i[0],(list_skor_budi_1[i[0]][1]+list_skor_budi_2[i[0]][1]+list_skor_budi_3[i[0]][1])/3))

list_skor_dedi = []
for i in list_skor_dedi_1:
    list_skor_dedi.append((i[0],(list_skor_dedi_1[i[0]][1]+list_skor_dedi_2[i[0]][1]+list_skor_dedi_3[i[0]][1])/3))

list_skor_ello = []
for i in list_skor_ello_1:
    list_skor_ello.append((i[0],(list_skor_ello_1[i[0]][1]+list_skor_ello_2[i[0]][1]+list_skor_ello_3[i[0]][1])/3))

In [14]:
sort_andi = sorted(list_skor_andi, key = lambda j:j[1], reverse = True)
sort_budi = sorted(list_skor_budi, key = lambda j:j[1], reverse = True)
sort_ciko = sorted(list_skor_ciko, key = lambda j:j[1], reverse = True)
sort_dedi = sorted(list_skor_dedi, key = lambda j:j[1], reverse = True)
sort_ello = sorted(list_skor_ello, key = lambda j:j[1], reverse = True)

In [15]:
# Recommendation Top 5 -------------------------------------------------
andi_similar = []
for i in sort_andi:
    if i[1]>0:
        andi_similar.append(i)

budi_similar = []
for i in sort_budi:
    if i[1]>0:
        budi_similar.append(i)

ciko_similar = []
for i in sort_ciko:
    if i[1]>0:
        ciko_similar.append(i)

dedi_similar = []
for i in sort_dedi:
    if i[1]>0:
        dedi_similar.append(i)

ello_similar = []
for i in sort_ello:
    if i[1]>0:
        ello_similar.append(i)

In [16]:
print('1. Buku bagus untuk Andi:')
for i in range(0,5):
    if andi_similar[i][0] not in andisuka:
        print('-',dfbook['original_title'].iloc[andi_similar[i][0]])
    else:
        i+=5
        print('-',dfbook['original_title'].iloc[andi_similar[i][0]])

print(' ')

1. Buku bagus untuk Andi:
- The Program
- The Hobbit and The Lord of the Rings
- The Hunger Games Box Set
- The Magic (The Secret #3)
- The Fire Within

In [17]:
print('2. Buku bagus untuk Budi:')
for i in range(0,5):
    if budi_similar[i][0] not in budisuka:
        print('-',dfbook['original_title'].iloc[budi_similar[i][0]])
    else:
        i+=5
        print('-',dfbook['original_title'].iloc[budi_similar[i][0]])

print(' ')

2. Buku bagus untuk Budi:
- Harry Potter and the Deathly Hallows
- Harry Potter and the Half-Blood Prince
- Harry Potter Boxed Set Books 1-4
- Harry Potter and the Order of the Phoenix
- Harry Potter and the Goblet of Fire

In [18]:
print('3. Buku bagus untuk Ciko:')
for i in range(0,5):
    if ciko_similar[i][0] not in cikosuka:
        print('-',dfbook['original_title'].iloc[ciko_similar[i][0]])
    else:
        i+=5
        print('-',dfbook['original_title'].iloc[ciko_similar[i][0]])

print(' ')

3. Buku bagus untuk Ciko:
- Empire Falls
- Foundation and Empire
- The Robots of Dawn
- Foundation and Earth
- Pride and Prejudice and Zombies

In [19]:
print('4. Buku bagus untuk Dedi:')
for i in range(0,5):
    if dedi_similar[i][0] not in dedisuka:
        print('-',dfbook['original_title'].iloc[dedi_similar[i][0]])
    else:
        i+=5
        print('-',dfbook['original_title'].iloc[dedi_similar[i][0]])

print(' ')

4. Buku bagus untuk Dedi:
- The Disappearing Spoon: And Other True Tales of Madness, Love, and the History of the World from the Periodic Table of the Elements
- The Practice of the Presence of God
- The Botany of Desire: A Plant's-Eye View of the World
- The Surgeon of Crowthorne: a tale of murder, madness & the love of words
- The World of Ice and Fire

In [20]:
print('5. Buku bagus untuk Ello:')
for i in range(0,5):
    if ello_similar[i][0] not in ellosuka:
        if str(dfbook['original_title'].iloc[ello_similar[i][0]])=='nan':
            print('-',dfbook['title'].iloc[ello_similar[i][0]])
        else:
            print('-',dfbook['original_title'].iloc[ello_similar[i][0]])  
    else:
        i+=5
        if str(dfbook['original_title'].iloc[ello_similar[i][0]])=='nan':
            print('-',dfbook['title'].iloc[ello_similar[i][0]])
        else:
            print('-',dfbook['original_title'].iloc[ello_similar[i][0]])

5. Buku bagus untuk Ello:
- The Candymakers (The Candymakers, #1)
- The Cellar (The Cellar, #1)
- The Remaining (The Remaining, #1)
- The Voyages of Doctor Dolittle
- Bridget Jones: The Edge of Reason